@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
}

.stars,
.stars2,
.stars3 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-repeat: repeat;
}

.stars {
    background-image:
        radial-gradient(2px 2px at 20px 30px, white, rgba(0, 0, 0, 0)),
        radial-gradient(2px 2px at 60px 70px, white, rgba(0, 0, 0, 0)),
        radial-gradient(1px 1px at 50px 50px, white, rgba(0, 0, 0, 0)),
        radial-gradient(1px 1px at 130px 80px, white, rgba(0, 0, 0, 0)),
        radial-gradient(2px 2px at 90px 10px, white, rgba(0, 0, 0, 0));
    background-size: 200px 200px;
    animation: twinkle 5s ease-in-out infinite;
}

.stars2 {
    background-image:
        radial-gradient(1px 1px at 100px 120px, white, rgba(0, 0, 0, 0)),
        radial-gradient(2px 2px at 40px 140px, white, rgba(0, 0, 0, 0)),
        radial-gradient(1px 1px at 170px 80px, white, rgba(0, 0, 0, 0)),
        radial-gradient(2px 2px at 80px 160px, white, rgba(0, 0, 0, 0));
    background-size: 200px 200px;
    animation: twinkle 7s ease-in-out infinite;
    animation-delay: 1s;
}

.stars3 {
    background-image:
        radial-gradient(1px 1px at 150px 60px, white, rgba(0, 0, 0, 0)),
        radial-gradient(1px 1px at 30px 100px, white, rgba(0, 0, 0, 0)),
        radial-gradient(2px 2px at 110px 30px, white, rgba(0, 0, 0, 0));
    background-size: 200px 200px;
    animation: twinkle 6s ease-in-out infinite;
    animation-delay: 2s;
}

@keyframes twinkle {

    0%,
    100% {
        opacity: 0.3;
    }

    50% {
        opacity: 1;
    }
}

.shooting-star {
    position: absolute;
    top: 10%;
    left: 80%;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.5);
    animation: shoot 8s linear infinite;
}

@keyframes shoot {
    0% {
        transform: translateX(0) translateY(0);
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        transform: translateX(-300px) translateY(300px);
        opacity: 0;
    }
}

/* .arrow-blink {
    animation: blink 2s ease-in-out infinite;
} */

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.3;
    }
}